<html>
<head>
  <meta charset="UTF-8">
  <title>Task Manager</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="./js/index.js"></script>
</head>
<body>
  <div id="create">
    <input id="task" placeholder="enter new task" type="text"></input>
    <button id="task-button">Add Task</button>
    <button id="retrieve">Get Tasks</button>
  </div>
  <ul id="task-list"></ul>
</body>
</html>
